<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="pace">
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        <wb-resource deploy-path="/" source-path="/target/m2e-jee/web-resources"/>
        <wb-resource deploy-path="/" source-path="/WebRoot" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/resources"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/essbaseresources"/>
        <dependent-module archiveName="pace-base-3.0-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/pace-base/pace-base">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="pace-ext-cmds-3.0-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/pace-ext-cmds/pace-ext-cmds">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="pace-ext-funcs-3.0-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/pace-ext-funcs/pace-ext-funcs">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="pace-prvdr-mdb-esb-3.0-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/pace-prvdr-mdb-esb/pace-prvdr-mdb-esb">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="java-output-path" value="/pace-server/WebRoot/src"/>
        <property name="context-root" value="pace"/>
    </wb-module>
</project-modules>
