 @import url(../reindeer/legacy-styles.css);
/* Using the old default theme (runo) as the basis for now */

.v-tree-node-no-children
{
    background: none;
    
}

.v-table {
	overflow: hidden;
	text-align: left;
}

.v-table-header-wrap {
	overflow: none;
	border: 1px solid #aaa;
	border-bottom: none;
	background: #efefef;
}

.v-table-header table, .v-table-table {
	border-spacing: 0;
	border-collapse: none;
	margin: 0;
	padding: 0;
	border: 0;
}

.v-table-table {
	font-size: 12px;
}

.v-table-header td {
	padding: 0;
}
.keyValueTable .v-button {
    /*  display: block; */
      /* height: 35px; */
      background: transparent;
      border: none;
      text-align: center;
}
 
/* .keyValueTable .v-button img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5px;
} */


.v-app .v-filterselect-input,.v-window .v-filterselect-input,.v-popupview-popup .v-filterselect-input {
    background: #fff;
    color: #000000;
    border: medium none;
    height: 16px;
    border-color: #000;
    border-left: 1px solid #BCBDBE;
    border-right: 1px solid #BCBDBE;
    border-style: solid;
    border-width: 1px;
    height: 23px;
    line-height: normal;
    margin: 0;
}

.v-formlayout {
	background: white;
}
.keyValueTable .v-button span {
      font-size: x-small;
     
} 

.keyValueTable .v-button .v-button-wrap, 
.keyValueTable .v-disabled.v-button .v-button-wrap {
   background: transparent;
   border: none;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
}


.v-contextmenu .gwt-MenuItem-selected div {
	background: #aaa;
	color: #fff;
}

.v-select-twincol .v-textfield {
	display: block;
	float: left;
	clear: left;
}

.v-textfield {
	text-align: left;
	background: #fff;
}

.v-textarea {
	resize: none;
	white-space: pre-wrap;
}
/* .keyValueTable .v-button:active .v-button-wrap,
.keyValueTable .v-button.v-pressed .v-button-wrap {
   background: transparent;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow:
} */

/* .v-table-focus-table-text-wrap .v-table-cell-wrapper-table-text-wrap {
	white-space: normal;
	overflow: hidden;
} */
